extends layout

block content
	h1=title

	.contentBox
		h4.border-bottom HEADINGS
		.table-responsive
			table.table.table-hover.va-middle.u-mr-top-20
				thead
					tr
						th TYPE
				tbody
					each val in list_devices
						tr
							td 
								a(href=val.url) 
									h3 #{val.device_name}
								h4 blablablabla
								h4 blablablab
								h4 .
								a(href=val._id+'/addsensor') 
									button.btn.btn-primary Edit Device
					else
						tr
							td There are no glyph.
