extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='device_name') Device Name:
      input#device_name.form-control(type='text' placeholder='Set device name' name='device_name' required='true' value=(undefined===device ? '' : device.device_name))

    div.form-group
      if device
        input#sensor.form-control(type='hidden' name='sensor' value=device.sensor)


    button.btn.btn-primary(type='submit') Submit

    