extends layout

block content
  h1= title
  
  ul
  each val in list_glyph
    li 
      a(href=val.url).listingname #{val.glyph_name}

  else
    li There are no mark.

  style.
    .bigred 
    { 
    font-size: 1.5em;
    color: red; 
    }
    .italic
    {
     font-style: italic;
    }
    .listingname 
    { 
    font-size: 2em;
    }
    .redish 
    { 
    color: red; 
    }
