doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          br
          br
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/') Home
              li 
                a(href='/detail/devices') List All Devices
              li 
                a(href='/detail/sensors') List All Sensors
              li 
                a(href='/detail/markers') Configuring Markers
              li 
                a(href='/detail/glyphs') Configuring Marks
              li 
                a(href='/detail/channels') Configuring Channels
                hr
              a(href='device/create') 
                button.btn.btn-success (+) Register New Device

 
                
        div(class='col-sm-10')
            block content