doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/dist/css/bootstrap-colorpicker.css')
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.8.20/themes/base/jquery-ui.css')
    script(src='/dist/js/bootstrap-colorpicker.js')


  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          br
          br
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/') Home
              li 
                a(href='/detail/devices') List All Devices
              li 
                a(href='/detail/sensors') List All Sensors
              li 
                a(href='/detail/markers') Configuring Markers
              li 
                a(href='/detail/glyphs') Configuring Marks
              li 
                a(href='/detail/channels') Configuring Channels
                hr
              a(href='/detail/device/create') 
                button.btn.btn-success (+) Register New Device

 
                
        div(class='col-sm-10')
            block content